body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
}

.addboard-wrapper {
    background-image: url("paw2.jpg");
    background-size: 800px;

    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addboard-content {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    border: 2px solid black;
    border-radius: 40px;
    background: #fff;
}

.addboard-content-img {
    margin: 0 20px;
}

.addboard-content-img img {
    border: 3px solid #00d1b2;
    width: 400px;
    height: 450px;
}

.addboard-content-text {
    margin: 0 20px;
}

.addboard-content-text-title {
    margin: 0 0 10px 0;
    width: 400px;
}

.addboard-content-text-comment {
    width: 400px;
    margin: 0 0 10px 0;
}

.addboard-content-text-comment > textarea {
    resize: none;
    height: 300px;
}